
.test{
	margin-left:auto;
	margin-right:auto;
}
table{
		margin-left:auto;
	margin-right:auto;
}
	
* {
 /* box-sizing: border-box;*/
}
/*
h2{
	position: absolute;
  top: 37%;
  width: 100%;
  font-size: 150%;
	
}
*/

header{
	height: 65px;
	background-color : rgb(150, 150, 255);
	width:100%
	position :fixed;
	top: 0;
	
  padding: 0 55px;
  margin: 0 auto;
	
}

.header-left {
  float: left;
	  vertical-align:middle;
}

.header-right {
  float: right;
}
/*
.hage{
	color:rgb(250,100,100);
}
*/
body{
	margin: 0;
}

h2{
	text-align:left
	
}
.input-area tr{
	text-align:center;
	border:2px;
	width:auto;
}



.green{
  background-color: green;
  width: 200px;
  height: 200px;
}
.yellow{
  background-color: yellow;
  width: 200px;
  height: 200px;
}
.red{
  background-color: red;
  width: 200px;
  height: 200px;
}